<!DOCTYPE html>
<html lang="en">

<head>
  <title>Crime Prevention</title>
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/Images/earthico.ico" /> -->
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/lib/leaflet/leaflet.css" />
  
  <script src="/assets/lib/leaflet/leaflet.js"></script>
  <script src="https//maps.google.com/maps/api/js?v=3&sensor=false"></script>
  <script src="/assets/lib/leaflet/Google.js"></script>
  <script src="/assets/data/countries.geojson"></script>
  
  <script src="/assets/lib/jquery/jquery-3.3.1.js"></script>
  <script src="/assets/lib/jquery/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
  
  <!-- <script src="/JS/navbar.js"> </script> -->
  <!-- <script src="/JS/facebook.js"> </script> -->
  <!-- <script src="/JS/map.js"> </script> -->
</head>
</body>
<!-- NavBar Starts -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">CrimeAI</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li> 
      </ul>
    </div> 
  </nav>
<!-- NavBar Ends -->

<!-- Home starts -->

<!-- Top Bar Message starts -->
  <div class="jumbotron text-center">
    <img src="https://thumbs.dreamstime.com/b/sitting-duck-saying-cartoon-illustration-37614840.jpg" alt="Sitting Duck" style="width:128px;height:128px;">
    <h1>Stop Being The Sitting Duck</h1>
    <p1>Never Turn A Blind Eye To Crime.</p1>
    <p>A joint effort will reduce crime in our community.</p> 
  </div>
<!-- Top Bar Message ends -->   
  <!-- <div class="container">
      <img src="http://www.cartographicperspectives.org/index.php/journal/article/viewFile/423/479/2245" alt="Google Map's HeatMaps" style="width:100%;height:100%;">
  </div> -->
  <div class="container">
    <div id="mapid">

    </div>
  </div>

<!-- Home ends  -->
</body>

<script>
  var countriesLayer;
  function highlightFeature(e) {
    var layer = e.target;
    layer.setStyle(
      {
        weight: 2,
        color: 'black',
        fillColor: 'white',
        fillOpacity: 0.2
      }
    );
    if(!L.Browser.ie && !L.Browser.opera) {
      layer.bringToFront();
    }
  }

  function resetHighlight(e) {
    countriesLayer.resetStyle(e.target);
  }

  function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
  }
  
  function countriesOnEachFeature(feature, layer) {
    layer.on(
      {
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
      }
    );
  }

  function getCountryColor(popEst) {
    if(popEst > 100000000) {
      return 'red';
    } else if(popEst > 50000000) {
      return 'blue';
    } else {
      return 'green';
    }
  }

  function countriesStyle(feature) {
    return{
      fillColor: getCountryColor(feature.properties.POP_EST),
      weight: 2,
      opacity: 1,
      color: 'white',
      dashArray: 3,
      fillOpacity: 0.7
    }
  }
  var mymap = L.map('mapid').setView([23.8138137,90.4249708], 6);
  
  var googleLayer = new L.Google();
  mymap.addLayer(googleLayer);
  
  countriesLayer = L.geoJson(
    countries,
    {
      style: countriesStyle,
      onEachFeature: countriesOnEachFeature
    }
  ).addTo(mymap);
  mymap.fitBounds(countriesLayer.getBounds());

  var legend = L.control({position: 'bottomright'});
  legend.onAdd = function(mymap) {
    var div = L.DomUtil.create('div', 'legend');
    var labels = [
      "Population > 100000000",
      "Population > 50000000",
      "Population <= 50000000"
    ];
    var grades = [100000001, 50000001, 50000000];
    div.innerHTML = '<div><b>Legend</b></div>';
    for(var i=0; i<grades.length; i++){
      div.innerHTML += '<i style="background:'
      + getCountryColor(grades[i]) + '">&nbsp;&nbsp;</i>&nbsp;&nbsp;'
      + labels[i] + '<br/>';
    }
    return div;
  }
  legend.addTo(mymap);

  // var point = [23.8138137,90.4249708];
  // var marker = L.marker(point);
  // marker.addTo(mymap);
  // marker.bindPopup(
  //   '<b>IUB</b><div><img class="popup-places" src="https://upload.wikimedia.org/wikipedia/en/4/4d/Independent_University%2C_Bangladesh_logo.png" alt="image IUB"/></div>',
  //   {minWidth: 128}
  // )
</script>

</html>